#main {
    layout: horizontal;
    height: 1fr;
}

#fixtures {
    border: solid #272727;
    width: 50%;
}

Vertical{
    border: solid #272727;
    width: 1fr;
}

DataTable {
    height: 1fr;
}

LoadingIndicator {
    height: 3;
}

#leagueButtons {
    grid-size: 5 2;
    width: 60;
    height: auto;
}

LeaguesPopup {
    align: center middle;
}

Button {
	height: 100%;
	content-align: center middle;
}
