#main {
    layout: horizontal;
    height: 1fr;
}

#fixtures {
    border: solid #272727;
    width: 50%;
}

Vertical{
    border: solid #272727;
    width: 1fr;
}

DataTable {
    height: 1fr;
}

LoadingIndicator {
    height: 3;
}

#leagueButtons {
    grid-size: 5 2;
    width: 60;
    height: auto;
}

LeaguesPopup {
    align: center middle;
}

Button {
	height: 100%;
	content-align: center middle;
}


DataTable > .datatable--header {
    background: #272727;
    color: $text;
    text-style: bold;
}

DataTable > .datatable--cursor {
    background: #272727;
    color: $text;
}

DataTable > .datatable--fixed {
    background: $primary;
    color: $text;
    text-style: bold;
}

DataTable > .datatable--fixed-cursor {
    background: $primary-lighten-1;
}

.page-btn {
    height: 3;
    min-width: 10;
}

#pagination-bar {
    height: 3;
    align: center middle;
    margin: 0 1;
}

#page-info {
    width: auto;
    margin: 0 2;
    content-align: center middle;
}

/* FixtureCard */

FixtureCard {
    border: solid $surface;
    height: 7;
    margin: 0 1 1 1;
    padding: 0 0;
}

FixtureCard:hover {
	background: $surface;
}

.card-body {
    layout: horizontal;
}

.card-left {
	align: right top;
    width: 1fr;
	border: solid transparent;
} 
.card-right {
	align: left top;
    width: 1fr;
	border: solid transparent;
} 

.card-date {
    content-align: center top;
    height: 1fr;
    color: $text-muted;
}

.card-week {
    height: 1fr;
    content-align: center top;
    color: $accent;
}

.card-home {
    height: 1fr;
    content-align: right bottom;
    text-style: bold;
}
/**/
/* .card-away { */
/*     height: 1fr; */
/*     content-align: center bottom; */
/*     text-style: bold; */
/* } */
/**/

.card-center {
	content-align: center middle;
	align: center middle;
}

.big-score {
    width: auto;
    height: auto;
    content-align: center middle;
}

/* .score-home, .score-away { */
/*     text-style: bold; */
/*     width: auto; */
/* } */
/**/
.vs-label {
	content-align: center middle;
	align: center middle;
    width: auto;
    margin: 0 1;
}

/* .score-home.finished, .score-away.finished { */
/*     color: $text; */
/* } */
/**/
/* .score-home.draw, .score-away.draw { */
/*     color: $warning; */
/* } */
/**/
/* .card-home.winner { */
/*     color: $success; */
/* } */
/**/
/* .card-home.loser { */
/*     color: $error; */
/* } */
/**/
/* .card-away.winner { */
/*     color: $success; */
/* } */
/**/
/* .card-away.loser { */
/*     color: $error; */
/* } */

/* PaginatedFixtureList */

#cards-container {
	align: center middle;
	content-align: center middle;
    height: 1fr;
    overflow-y: auto;
}

#cards-container:empty {
    height: 1fr;
}

.empty-label {
    height: 1fr;
    content-align: center middle;
    color: $text-muted;
}
